@charset "utf-8";

/* ====== [HTML5] ======================================================================================================= */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary{display:block;} /* HTML5에 새로 추가된 요소들 블럭처리(IE6/7/8/9, 파폭3) */
audio, canvas, video{display:inline-block; *display:inline; *zoom:1;} /* audio, canvas,video 를 inline-block 처리. 지원하지 않는 브라우저는 핵이용(IE6/7/8/9, 파폭3) */
audio:not([controls]){display:none; height:0;} /* audio 에 contorls 속성이 정의되지 않은경우 이를 감춤(모든 웹브라우저 및 iOS5 이상) */
[hidden]{display:none;} /* visibility 속성의 hidden값과 display 속성의 none 값을 통일(IE7/8/9, 파폭3, 사파리4, IE6) */
mark{background:#ff0; color:#000;} /* mark 속성값 통일(IE 6/7/8/9) */

/* ====== [Base] ======================================================================================================== */
/* 1. IE 6/7 에서 body에 em 단위의 정확한 글자크기를 구현하기 위한 설정으로 100%=16px, 75%=12px
 * 2. iOS에서 가로,세로 모드로 화면을 전환할때 사용자가 직접 줌하지 않는 한 글자크기를 조정하지 않음 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, input, select, textarea{font-family:"pretendard", -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif; font-style:normal; margin:0; padding:0; border:0; font-size:100%;/* 1 */-ms-text-size-adjust:100%;/* 2 */-webkit-text-size-adjust:100%;/* 2 */ vertical-align:baseline;}
body{line-height:1;}

/* ====== [Link] ======================================================================================================= */
a:focus{outline:none;} /* 크롬과 outline 속성값 통일 */
a:active, a:hover{outline:0; text-decoration:none;} /* 포커스, 마우스오버 통일 */
a{text-decoration:none; cursor:pointer; color:inherit;}

/* ====== [Typography] ================================================================================================== */
h1{font-size:2em; margin:0.67em 0;} /* IE 6/7에서 폰트크기와 마진값 통일. 파폭4+, 사파리5, 크롬에서 폰트크기 통일 */
h2{font-size:1.5em; margin:0.83em 0;}
h3{font-size:1.17em; margin:1em 0;}
h4{font-size:1em; margin:1.33em 0;}
h5{font-size:0.83em; margin:1.67em 0;}
h6{font-size:0.67em; margin:2.33em 0;}
small{font-size:80%;} /* small 폰트크기 */
b,strong{font-weight:bold;} /* b, strong 폰트 굵게 적용 */
p, pre{margin:0;} /* IE6/7의 p, pre 마진값 통일*/
dfn{font-style:italic;} /* dfn 요소 이탤릭 설정, 사파리5, 크롬 적용*/
abbr[title]{border-bottom:1px dotted;} /* abbr(축약어) title 속성 디자인 통일, IE 7/8/9,사파리 5, 크롬 적용*/
blockquote{margin:1em 40px;} /* blockquote(인용) 마진값 설정, 파폭3+, 사파리4/5, 크롬 적용*/
hr{-moz-box-sizing:content-box; box-sizing:content-box; height:0;} /* 파폭의 차이점 통일, IE 6/7 적용되지 않음 */
code, kbd, pre, samp{font-family:monospace, serif; _font-family:'courier new', monospace; font-size:1em;} /* 폰트 글꼴 통일, IE6, 사파리4/5, 크롬 적용 */
pre{white-space:pre; white-space:pre-wrap; word-wrap:break-word;} /* pre 요소의 가독성을 향상 */
q{quotes:none;} /*IE 6/7에서 q(""인용)가 안되므로 노출안함 */
q:before, q:after, blockquote:before, blockquote:after{content:''; content:none;} /* 사파리4에서 q 의 :before와 :after가 안되므로 노출안함*/
sub, sup{font-size:75%; line-height:0; position:relative; vertical-align:baseline;} /* sub, sup 요소 line-height 초기화 */
sup{top:-0.5em;}
sub{bottom:-0.25em;}
/*
::selection{background:#000; color:#148bff;} /* 드래그 영역 색상
::-moz-selection{background:#000; color:#148bff;} /* 드래그 영역 색상
::-webkit-selection{background:#000; color:#148bff;} /* 드래그 영역 색상
*/
/* ====== [List] ======================================================================================================= */
menu, ol, ul, nav ul, nav ol{list-style:none;} /* IE6/7에서 패딩값 통일 */
nav ul, nav ol{list-style-image:none;} /* IE 7에서 이미지 위치가 달라 사용자가 직접 설정하게 도와줌 */

/* ====== [Embed] ====================================================================================================== */
img{border:0; -ms-interpolation-mode:bicubic; vertical-align:top} /* IE7에서 이미지 축소/확대시 계단현상 방지 */
/*svg:not(:root){overflow:hidden;}  IE9에서 svg 가 영역의 크기를 벗어나지 않도록 */

/* ====== [Table] ====================================================================================================== */
table{border-collapse:collapse; border-spacing:0;} /* 테이블 사이의 간격을 제거 */
 
/* ====== [Form] ======================================================================================================= */
form,button,select,input,textarea{outline:none;}
textarea{resize:none; overflow:auto; vertical-align:top;}
button, input, select, textarea{vertical-align:baseline; *vertical-align:middle; } /* 세로정렬 위치 통일 */
button, input{line-height:normal;} /* line-height 통일(파폭3+) */
button, select{text-transform:none; -webkit-appearance:none;}/* value 값 대소문자 초기화, button(크롬, 사파리5+, IE6+ 적용), select(파폭4+, 오페라) */
/* 1. 안드로이드 4.0 이상의 웹킷 브라우저에서 audio와 video의 버그 방지
 * 2. iOS에서 input 요소의 type 속성값을 인식하지 못하는 버그 방지
 * 3. IE 7에서 내부 간격을 제거하는 핵(IE 6은 내부 간격이 남아있음) */
button, html input[type="button"], /* 1 */ input[type="reset"], input[type="submit"]{-webkit-appearance:button;/* 2 */ cursor:pointer; *overflow:visible;/* 3 */}
button[disabled], html input[disabled]{cursor:default;} /* disabled 된 button과 input 커서모양 기본값 */
button::-moz-focus-inner, input::-moz-focus-inner{border:0; padding:0;} /* 파폭3+ 에서 button과 input의 패딩과 보더값0 */
input{border:none;} /* input 테두리 없애기(크롬, Ie) */
/* 1. IE 8/9에서 box sizing 속성값을 content-box에서 border-box로 변경
 * 2. IE 8/9에서 패딩 제거. IE 7은 핵을 이용해 패딩 제거(IE 6은 패딩이 남아있음) */
input[type="checkbox"], input[type="radio"]{box-sizing:border-box;/* 1 */ padding:0;/* 2 */ *height:13px;/* 2 */ *width:13px;/* 2 */}
/* 1. 사파리5와 크롬에서 텍스트 입력 가능
 * 2. 해당 영역의 크기를 콘텐츠 영역만큼 설정하도록 content-box 설정 */
input[type="search"]{-webkit-appearance:textfield;/* 1 */ -moz-box-sizing:content-box;/* 2 */ -webkit-box-sizing:content-box;/* 2 */ box-sizing:content-box;/* 2 */}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;} /* 맥의 사파리5와 크롬의 내부 패딩과 검색 취소 버튼 제거*/
fieldset{border:1px solid #c0c0c0; margin:0 2px; padding:0.35em 0.625em 0.75em;}
legend{border:0;  padding:0; white-space:normal; *margin-left:-7px;} /* 파폭3에서 캡션내용의 공백문자 통일(IE 6/7은 핵사용) */
select::-ms-expand{display:none}